
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Pdf Reports Page</h1>

<a href="/PdfReport/StatisticPdfReport" class="btn btn-outline-primary">Static Pdr Report</a>
<br />
<a href="/PdfReport/StaticCustomerReports" class="btn btn-outline-warning">Static Customer Reports</a>
