
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Sheet Page</h1>

<br />
<a href="/Excel/StaticExcelReport/" class="btn-check btn-outline-info">Static Excel Reports</a>
<br />
<a href="/Excel/DestinationExcelReport/" class="btn-check btn-outline-primary">Tour Routes Excel Reports</a>
